h1 {
  font-family: 'Cinzel Decorative', serif;
  color: #2c3e50;
}

.red-highlight {
  font-family: 'Allura', serif;
  font-size: 1.7em;
  color: #C41E3A; 
}

h2 {
  font-family: 'Times New Roman', serif;
  color: #2c3e50;
}